<ion-header>
  <ion-toolbar color="light">
      <ion-header>
        <ion-toolbar color="light"> <ion-buttons slot="start">
            <ion-menu-button auto-hide="false"></ion-menu-button>
          </ion-buttons>
          
          <ion-title>Inicio</ion-title> </ion-toolbar>
      </ion-header>

    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="padding:16px;">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="usuario.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input [(ngModel)]="usuario.correo" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input [(ngModel)]="usuario.contrasenna" type="password"></ion-input>
    </ion-item>

    <div style="padding:16px;">
      <ion-button expand="block" (click)="guardar()">Guardar</ion-button>
    </div>
  </ion-list>
</ion-content>
