<div class="login-container">
  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo" style="display:block; margin:auto; width:120px; height:auto;">
  </div>
  <form (ngSubmit)="login($event)">
    <ion-item>
      <ion-input
        #correoInput
        type="email"
        [(ngModel)]="correo"
        name="correo"
        placeholder="tú@ejemplo.com">
      </ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-input
        #contrasennaInput
         type="password"
          [(ngModel)]="contrasenna"
          name="contrasenna"
          placeholder="••••••••">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
   <ion-button expand="block" type="submit">Iniciar sesión</ion-button>
  </form>
  <ion-button expand="block" fill="outline" (click)="goToRegistro()">Registrarse</ion-button>
</div>

<ion-toast
  [isOpen]="isToastOpen"
  message="Credenciales incorrectas"
  [duration]="5000"
  (didDismiss)="isToastOpen = false"
></ion-toast>