.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  min-height: 100%; /* Ocupar todo el alto disponible del ion-content */
  padding: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}