<ion-header class="ion-no-border">
  <img src="assets/logo.png" alt="Logo" style="height:40px; margin-left:16px;">
</ion-header>

<ion-content class="ion-padding">

  <h1>Bienvenido...</h1>

  <h2 style="padding:16px 16px 0 0;">Reproductor</h2>

  <ion-list>
    <ion-item *ngFor="let track of tracks; let i = index">
      <ion-thumbnail slot="start">
        <ion-button fill="clear" (click)="irANowPlaying()" class="music-launcher">
          <img src="assets/icon/music_icon.png" class="mini-music-icon" style="width:40px;height:40px;">
        </ion-button>
      </ion-thumbnail>

      <ion-label>
        <h3>{{ track.name }}</h3>
      </ion-label>

      <ion-button *ngIf="currentIndex !== i || !isPlaying" (click)="playTrack(i)">
        ▶️
      </ion-button>

      <ion-button *ngIf="currentIndex === i && isPlaying" color="danger" (click)="pauseTrack()">⏸️</ion-button>
    </ion-item>

    <ion-item *ngIf="currentTrack">
      <ion-range [min]="0" [max]="duration" [value]="progress" (ionChange)="seekTrack($event)"></ion-range>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="grid"></ion-icon>
    </ion-fab-button>
    
    <ion-fab-list side="top">
      <ion-fab-button (click)="logout()" color="danger"><ion-icon name="log-out"></ion-icon></ion-fab-button>
      <ion-fab-button routerLink="/main/perfil" color="secondary"><ion-icon name="person"></ion-icon></ion-fab-button>
      <ion-fab-button routerLink="/main/now-playing" color="tertiary"><ion-icon name="musical-notes"></ion-icon></ion-fab-button>
      <ion-fab-button routerLink="/main/home" color="light"><ion-icon name="home"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>